*{
  padding: 0;
  margin: 0;
  box-sizing:border-box; ;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #999999; 
}
::-webkit-scrollbar-thumb:hover {
  background:#737373; 
}
::-webkit-scrollbar-track {
  background-color: unset; 
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #5e5e5e;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 7px;
    -webkit-appearance: none;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    background: white;
    box-shadow: -500px 0 0 500px white;
  }

}
/** FF*/
input[type="range"]::-moz-range-progress {
background-color: white; 
}
input[type="range"]::-moz-range-track {  
background-color: #5e5e5e;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
background-color: white; 
}
input[type="range"]::-ms-fill-upper {  
background-color: white;
}

